<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GPT_API_KEY</key>
	<string>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</string>
</dict>
</plist>
